@font-face {
  font-family: "angrybirds";
  src: url("/assets/fonts/angrybirds-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'angrybirds';
}

html, body {
  margin: 0;
  height: 100vh;
}

body {
  height: inherit;
  background-color: #17705d;
}

button {
  border-style: none;
  background-color: none;
}
